[submodule "classic-diagnostic-adapter"]
	path = classic-diagnostic-adapter
	url = https://github.com/timviola-cmi/classic-diagnostic-adapter.git
[submodule "commercial-sdv-stack"]
	path = commercial-sdv-stack
	url = git@github.com:Eclipse-SDV-Hackathon-Chapter-Four/commercial-sdv-stack.git
[submodule "opensovd-core"]
	path = opensovd-core
	url = https://github.com/timviola-cmi/opensovd-core
