[submodule "classic-diagnostic-adapter"]
	path = classic-diagnostic-adapter
	url = git@github.com:timviola-cmi/classic-diagnostic-adapter.git
[submodule "commercial-sdv-stack"]
	path = commercial-sdv-stack
	url = git@github.com:timviola-cmi/commercial-sdv-stack.git
